server-name=${SERVER_NAME}
gamemode=${GAMEMODE}
force-gamemode=${FORCE_GAMEMODE}
difficulty=${DIFFICULTY}
allow-cheats=${ALLOW_CHEATS}
max-players=${MAX_PLAYERS}
online-mode=${ONLINE_MODE}
allow-list=${ALLOW_LIST}
server-port=${SERVER_PORT}
server-portv6=${SERVER_PORTV6}
enable-lan-visibility=${ENABLE_LAN_VISIBILITY}
view-distance=${VIEW_DISTANCE}
tick-distance=${TICK_DISTANCE}
player-idle-timeout=${PLAYER_IDLE_TIMEOUT}
max-threads=${MAX_THREADS}
level-name=${LEVEL_NAME}
level-seed=${LEVEL_SEED}
default-player-permission-level=${DEFAULT_PLAYER_PERMISSION_LEVEL}
texturepack-required=${TEXTUREPACK_REQUIRED}
content-log-file-enabled=${CONTENT_LOG_FILE_ENABLED}
compression-threshold=${COMPRESSION_THRESHOLD}
compression-algorithm=${COMPRESSION_ALGORITHM}
server-authoritative-movement=${SERVER_AUTHORITATIVE_MOVEMENT}
correct-player-movement=${CORRECT_PLAYER_MOVEMENT}
server-authoritative-block-breaking=${SERVER_AUTHORITATIVE_BLOCK_BREAKING}
chat-restriction=${CHAT_RESTRICTION}
disable-player-interaction=${DISABLE_PLAYER_INTERACTION}
client-side-chunk-generation-enabled=${CLIENT_SIDE_CHUNK_GENERATION_ENABLED}
block-network-ids-are-hashes=${BLOCK_NETWORK_IDS_ARE_HASHES}
disable-persona=${DISABLE_PERSONA}
disable-custom-skins=${DISABLE_CUSTOM_SKINS}
server-build-radius-ratio=${SERVER_BUILD_RADIUS_RATIO}
